.buy-modal {
  @include modalOverlay;
  justify-content: center;
  padding: 0 36px;

  @include sol1200 {
  }

  @include sol920 {
    padding: 0 72px;
  }

  @include sol767 {
    padding: 0 12px;
  }

  &__content {
    position: relative;
    padding: 30px;
    width: min(100%, 624px);
    background-color: $white;
    border-radius: 10px;
    @include sol600 {
      padding: 30px 10px 30px 16px;
    }
  }

  &__title {
    margin-bottom: 8px;
  }

  &__descr {
    @include resetMg;
    margin-bottom: 30px;
    max-width: 374px;
    font-size: 0.875rem;
    line-height: 135.714286%; /* 19px/14 */
    color: $grey-dark;
    @include sol600 {
      margin-bottom: 16px;
    }
  }

  &__field-wrap {
    @include sol600 {
      margin-bottom: 16px;
    }
  }

  &__check__custom {
    width: 14px;
    height: 14px;
    @include sol600 {
      margin-right: 6px;
    }
  }

  &__check-text {
    font-size: 0.75rem;
  }

  &__open {
    @include modalOpen;
  }
}