.zoom-modal {
  @include modalOverlay;
  padding-top: 143px;
  
  &__content {
    position: relative;
    width: min(100%, 1280px);
    background-color: $white;
    border-radius: 10px
  }

  &__open {
    @include modalOpen;
  }

  &__galery {
    padding: 50px 107px;
  }

  &__preview {
    position: relative; 
    height: 166px;
    padding: 20px 50px;
    background-color: $grey-light;
    border-radius: 0 0 10px 10px;
  }
}

.zoom-swiper-lg {
  box-sizing: border-box;
  &__slide {
    display: flex;
    flex-direction: column;
    height: auto;
    min-height: 418px;
  }

  &__picture {
    width: 100%;
    height: 100%;
    
  }

  &__img {
    display: block;
    margin: 0 auto;
    height: 100%;
    object-fit: contain;
    
  }
}

.zoom-swiper-sm {
  height: 100%;
  &__slide {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  &__picture {
    height: 100%;
  }

  &__img {
    display: block;
    margin: 0 auto;
    object-fit: contain;
    height: 100%;
  }

  &__next,
  &__prev {
    position: absolute;
    top: 50%;
    display: none;
    transform: translateY(-50%);
  }

  &__next {
    right: 16px;
  }

  &__prev {
    left: 16px;
  }
}