.conditions-wrapper {
  max-width: min(100%, 843px);
  display: flex;
  flex-direction: column;
  gap: $gap;
  @include sol1200 {
    gap: 33px;
  }
}

.text-grey {
  @include resetMg;
  font-weight: 400;
  font-size: 1rem;
  line-height: 180%;
  color: $grey-shade;
  @include sol600 {
    font-size: 0.875rem;
    line-height: 178%;
  }
}

.section-title {
  margin-bottom: 13px;
  @include sol600 {
    margin-bottom: 11px;
    font-size: 1rem;
    line-height: 137.5%; /* 22px/16 */
    &--s {
      font-size: 0.875rem;
    line-height: 135.714286%; /* 19px/14 */
    }
  }
}

.providers {}

.we-do {

  &__list {
    max-width: 624px;
  }

  &__item {
    display: flex;
    align-items: flex-start;
    line-height: 151%;
    @include sol600 {
      line-height: 150%;
    }

    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }


  &__svg {
    flex-shrink: 0;
    margin-right: 12px;
    width: 25px;
    height: 25px;
    stroke: $secondary;
    fill: none;
  }
}

.advantages {
  &__item {
    &:not(:last-child) {
      margin-bottom: 12px;
    }

  }



  &__subtitle {
    @include resetMg;
    margin-bottom: 12px;
    font-weight: 600;
    font-size: 1rem;
    line-height: 137.5%;
    /* 22px/16 */
    color: $secondary;
  }

  &__text {
    line-height: 182%;
    @include sol600 {
      line-height: 179%;
    }
  }
}

.quarantees {
  padding-bottom: 70px;

  &__list {
    padding-left: 15px;
    margin: 0;
    margin-bottom: 32px;

  }

  &__item {
    margin-bottom: 14px;
    padding-left: 12px;
    @include sol1200 {
      margin-bottom: 12px;
    }
    @include sol920 {
      margin-bottom: 13px;
    }

    @include sol600 {
      margin-bottom: 14px;
    }

    &::marker {
      color: $secondary;
    }
  }

  &__term {
    @include resetMg;
    padding: 22px 0 22px 109px;
    max-width: 624px;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 150%;
    color: $grey-dark;
    background-image: url("@img/pencil.webp");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 77px 100%;
    @include sol600 {
      padding: 0 0 0 52px;
      max-width: 238px;
      font-size: 1rem;
      background-size: 35px 57px;
    }
  }
}