.footer {
  &__top {
    padding: 27px 0 16px;
    background-color: $grey-md;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: $gap;
    @include sol1200 {
      grid-template-columns: repeat(9, 1fr);
    }

    @include sol920 {
      grid-template-columns: repeat(6, 1fr);
      row-gap: 25px;
    }
    @include sol600 {
      column-gap: $gap-mobile;
    }
  }

  &__left {
    grid-column: span 4;
    @include sol1200 {
      grid-column: span 2;
    }

    @include sol920 {
      grid-column: span 6;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    @include sol600 {
      flex-direction: column;
      justify-content: center;
      gap: 24px;
    }
  }

  &__nav {
    grid-column: span 8;
    display: flex;
    // justify-content: space-between;
    @include sol1200 {
      grid-column: span 7;
    }
    @include sol920 {
      grid-column: span 6;
    }

    @include sol600 {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      column-gap: $gap-mobile;
      row-gap: 24px;
    }
  }

  &__logo {
    display: block;
    margin-bottom: 25px;
    @include sol920 {
      margin-bottom: 0;
    }
  }

  &__socials {
    display: flex;
    align-items: flex-start;
    gap: 14px;
  }

  &__bottom {
    padding: 8px 0;
    text-align: center;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 135.714286%; /* 19px/14 */
    color: $grey;
  }
}

.socials {
  &__link {
    display: inline-block;
    padding: 3px;
    outline: none;
    transition: background-color 0.3s linear;

    &:focus-visible {
      background-color: $primary-light;

      & .socials__svg {
        fill: $white
      }
    }

    &:hover:not(:focus-visible):not(:active) {
      @media (hover: hover) {
        & .socials__svg {
          fill: $primary;
        }
      }
    }

    &:active {
      & .socials__svg {
        fill: $primary-shade;
      }
    }
  }

  &__svg {
    display: block;
    width: 30px;
    height: 30px;
    fill: $grey;
    transition: fill 0.3s linear;
  }
}

.nav-block {
  &:not(:last-child) {
    margin-right: auto;
  }
  @include sol600 {
    grid-column: span 3;
  }
  &__title {
    @include resetMg;
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 1rem;
    line-height: 100%;
    color: $grey-dark;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 6px;
    }
  }

}