@import 'mixins';
@import "variables";

.header {
  padding-bottom: $gap;

  &__contacts-wrap {
    grid-column: span 5;
    display: flex;
    flex-wrap: wrap;
    @include sol1200 {
      grid-column: span 9;
      justify-content: space-between;
    }
    @include sol920 {
      grid-column: span 6;
      gap: 10px;
    }
    
  }
  &__region {
    display: inline-block;
    margin-right: 30px;
  }
  &__additional-menu {
    grid-column: span 7;
    @include sol920 {
      grid-column: span 6;
    }
  }
  &__logo {
    grid-column: span 3;
    @include sol1200 {
      grid-column: span 2;
    }
    @include sol920 {
      grid-column: span 3;
      justify-self: end;
    }
    @include sol600 {
      grid-column: span 6;
      justify-self: center;
    }
   
  }

  &__main-menu {
    grid-column: span 9;
    @include sol1200 {
      grid-column: span 7;
    }
    @include sol920 {
      grid-column: span 1;
    }
    @include sol600 {
      grid-column: span 3;
    }
  }
  &__burger {
    display: none;
    @include sol920 {
      display: block;
    }
  }

  &__search {
    grid-column: span 10;
    @include sol1200 {
      grid-column: span 9;
    }
    @include sol920 {
      grid-column: span 6;
    }
  }
  &__nav-btns {
    grid-column: span 2;
    justify-self: end;
    @include sol600 {
      grid-column:  span 3;
    }
  }
}

.row-1 {
  background-color: $grey-light;
  @include sol1200 {
    padding: 18px 0;
    background-color: $white;
  }
  @include sol600 {
    padding: 11px 0;
    background-color: $grey-light;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: $gap;
    align-items: center;
    @include sol1200 {
      grid-template-columns: repeat(9, 1fr);
    }
    @include sol920 {
      grid-template-columns: repeat(6, 1fr);
    }
  }
}

.row-2 {
  @include sol1200 {
    background-color: $grey-light;
  }
  @include sol600 {
    padding: 16px 0;
    background-color: $white;
  }
  &__container {
    @include sol1200 {
      display: grid;
      grid-template-columns: repeat(9, 1fr);
      column-gap: $gap;
      align-items: center;
    }
    @include sol920 {
      grid-template-columns: repeat(6, 1fr);
    }
  }
}

.row-3 {
  padding: $gap 0;
  @include sol920 {
    position: relative;
  }
  @include sol600 {
    padding: 10px 0;
    border-top: 1px solid $grey-light;
    border-bottom: 1px solid $grey-light;
  }
  &__container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: $gap;
    @include sol1200 {
      grid-template-columns: repeat(9, 1fr);
    }
    @include sol920 {
      grid-template-columns: repeat(6, 1fr);
      
    }
  }
}

.row-4 {
  @include sol600 {
    padding-top: 16px;
  }
  &__container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: $gap;
    align-items: center;
    @include sol1200 {
      grid-template-columns: repeat(9, 1fr);
    }
    @include sol920 {
      grid-template-columns: repeat(6, 1fr);
    }
  }
}

.region {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  &__text {
    // margin-right: 4px;
    font-size: 1rem;
    line-height: 120%;
    color: $grey-dark;
  }

  & .choices {
    z-index: 100;

    &[data-type*=select-one] {
      & .choices__inner {
        padding: 0;
        padding-right: 16px;
        padding-left: 3px;
      }

      &::after {
        height: 8px;
        width: 8px;
        z-index: 3;
        top: 40%;
        right: 7px;
        border: 1px solid $primary;
        border-width: 0 0 1px 1px;
        transform: rotate(-45deg);
        transition: transform 0.25s linear, border-color 0.3s linear;

      }

      &.is-open {
        background-color: transparent;

        &::after {
          margin: 0;

          // margin-bottom: -7px;
          transform: rotate(-225deg) translate(3px, -3px);
        }
      }
    }

    &__inner {
      padding: 0;
      border: none;
      min-height: unset;
      background-color: transparent;
      font-size: 1rem;
      color: $primary;
      transition: color 0.3s linear;
    }


    &__list {
      &--single {
        padding: 6px 8px 5px 0;
      }

      &[aria-expanded] {
        width: max(100%, 100px);
        padding-top: 10px;
        left: 50%;
        transform: translateX(-50%);
        border: none;
        background-color: transparent;

        .choices__list {
          max-height: 114px;
          border: 2px solid $grey-light;
          background-color: $white;

        }

        .choices__item {
          padding: 10px;

          &--selectable {
            padding-right: 15px;

            &.is-selected {
              display: none;
            }
          }
        }
      }
    }

  }

  &:hover:not(:active):not(.is-focused) {
    .choices__inner {
      color: $primary-light;
    }

    &::after {
      border-color: $primary-light;
    }
  }

  &:active {
    .choices__inner {
      color: $primary-shade;
    }

    &::after {
      border-color: $primary-shade;
    }
  }

  & .is-focused:not(.is-open) {
    .choices__inner {
      border: none;
      background-color: $pink-violet;
      color: $primary-shade;
    }

    &::after {
      border-color: $primary-shade;
    }
  }
}

.tel {
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  line-height: 1rem;
  color: $secondary;
  outline: none;
  transition: background-color 0.3s linear, color 0.3s linear;

  &__svg {
    display: block;
    width: 22px;
    height: 22px;
    fill: $secondary;
    transition: fill 0.3s linear;
  }

  &:focus-visible {
    background-color: $bone;
  }

  &:hover:not(:focus-visible):not(:active) {
    @media (hover:hover) {
      color: $secondary-light;

      .tel__svg {
        fill: $secondary-light;
      }
    }
  }

  &:active {
    color: $secondary-shade;

    .tel__svg {
      fill: $secondary-shade;
    }
  }
}

.additional-menu {
  
  display: flex;
  justify-content: flex-end;
  width: 100%;

  @include sol1200 {
    justify-content: flex-start;
  }

  @include sol600 {
    padding: 24px 12px;
    background-color: $grey-light;
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: min(100%, 710px);
    gap: 20px;
    @include sol600 {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      column-gap: $gap-mobile;
      row-gap: 12px;
      align-items: start;
    }
  }

  &__item {
    padding: 16px 0;
    @include sol600 {
      grid-column: span 3;
      padding: 0
    }
  }
}

.main-menu {
  display: flex;
  justify-content: flex-end;

  @include sol920 {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000;
    display: block;
    padding: 72px 72px 40px;
    width: 100vw;
    height: min(100vh, 300px);
    background-color: $white;
    border-top: 1px solid rgba(0, 0, 0, 0.2);

    &::after {
      content: '';
      position: absolute;
      right: 72px;
      bottom: 60px;
      width: 161px;
      height: 112px;
      background-image: url('../sprite.svg#elefant');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      opacity: 0.2;
      @include sol600 {
        content: none;
      }
    }
  }

  @include sol600 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 42px 0 0;
    height: 80vh;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: min(100%, 952px);
    @include sol1200 {
      width: 95.59004%; /* 701px/733.34 */
    }
    @include sol920 {
      display: block;
      columns: auto 2;
      width: 46.153846%;
    }
    @include sol600 {
      padding: 0 12px 0;
      margin-bottom: auto;
      width: 100%;
      columns: unset;
      overflow-y: auto;
    }
  }

  &__item {
    @include sol920 {
      width: max-content;
      padding: 20px 0;
    }
  }

  &__link {
    position: relative;
    font-size: 1rem;
    line-height: 1.375rem;
    color: $grey-dark;
    outline: none;
    transition: color 0.3s linear;

    &::before {
      @include focusPseudo(-2px -7px, $pink-violet)
    }

    &:focus-visible {
      &::before {
        opacity: 1;
      }
    }

    &:hover:not(:focus-visible):not(:active) {
      @media (hover:hover) {
        color: $primary;
      }
    }

    &:active {
      color: $primary-shade;
    }
  }
}

.search {
  display: flex;

  @include sol600 {
    position: relative;
    flex-wrap: wrap;
    gap: 16px;
  }

  &__input-wrap {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 32px;
    width: 71.724788%;
    /* 761/1061 */
    background-color: $grey-light;
    border: 2px solid $grey-light;
    border-radius: 10px 0px 0px 10px;
    transition: background-color 0.3s linear, border-color 0.3s linear;

    &:focus-within {
      background-color: $pink-ligth;
      border-color: $primary;
    }

    &:hover:not(:focus-within) {
      background-color: $grey-md;
      border-color: $grey-md;
    }

    @include sol1200 {
      width: 68.487395%; /* 652px/952 */
    }
    @include sol920 {
      width: 69.711538%; /* 435px/624 */
    }
    @include sol600 {
      width: 100%;
      border-radius: 10px;
    }
  }

  &__loupe {
    position: absolute;
    top: 50%;
    left: 32px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    fill: $grey;
    transition: fill 0.3s linear;

  }

  &__input {
    flex-grow: 1;
    padding: 18.5px 27px;
    font-size: 1rem;
    line-height: 120%;
    color: $grey-dark;
    border: none;
    outline: none;
    background: transparent;
  }

  &__btn {
    position: relative;
    flex-shrink: 0;
    width: 32px;
    height: 32px;
    border: 2px solid $primary;
    border-radius: 50%;
    transition: background-color 0.3s linear;

    & svg {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 8px;
      height: 13px;
      transform: translate(-50%, -50%);
      stroke: $primary;
      stroke-width: 1.5px;
      stroke-linecap: round;
      stroke-linejoin: round;
      fill: none;
      transition: stroke 0.3s linear;
    }

    &:focus-visible {
      background-color: $primary-light;

      svg {
        stroke: $white;
      }
    }
    @include sol600 {
      position: absolute;
      right: 32px;
    }
  }

}

.js-search-on-input {
  .search__input-wrap {
    &:focus-within {
      background-color: $grey-light;
      border-color: $grey-light;
    }
  }

  .search__loupe {
    fill: $primary;
  }
}

.category {
  flex: 1;

  & .choices {
    z-index: 100;

    &__inner {
      padding: 12.7px 25px;
      font-size: 1rem;
      line-height: 137.5%;
      /* 22/16 */
      background-color: $white;
      border: 2px solid $grey-light;
      border-radius: 0px 10px 10px 0px;
      color: $primary;
      transition: background-color 0.3s linear, border-color 0.3s linear;
      @include sol600 {
        border-radius: 10px;
      }
    }

    &[data-type*=select-one] {
      .choices__inner {
        padding-bottom: 13.5px;
      }

      &::after {
        height: 8px;
        width: 8px;
        z-index: 10;
        top: 45%;
        right: 34px;
        border: 1px solid $primary;
        border-width: 0 0 1px 1px;
        transform: rotate(-45deg);
        transition: transform 0.25s linear, border-color 0.3s linear;
      }

      &.is-open {
        background-color: transparent;

        &::after {
          margin: 0;
          transform: rotate(-225deg);

        }

        .choices__list {
          &--dropdown {
            border: none;
          }
        }
      }

    }

    &__list {
      &--single {
        padding-right: 30px;
      }

      &--dropdown {
        top: 95%;
        z-index: -1;
        border-radius: 0 0 10px 10px;

        .choices__list {
          padding-top: 10px;
          border: 2px solid $grey-light;
          border-width: 0 2px 2px 2px;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          column-gap: 32px;

          @include sol1200 {
            column-gap: 0;
          }

          @include sol920 {
            display: block;
          }

          @include sol600 {
            display: grid;
          }

          .choices__item {
            padding: 10px 20px;
            font-size: 1rem;
            line-height: 130%;

            @include sol920 {
              padding: 7px 20px;
            }

            @include sol600 {
              padding: 10px 20px;
            }

            &--selectable {
              padding-right: 20px;

              &.is-selected {
                display: none;
              }
            }
          }
        }

        .choices__placeholder {
          display: none;
        }
      }
    }

    &__placeholder {
      opacity: 1;
    }

    &:hover:not(.is-focused):not(:active) {
      @media (hover: hover) {
        .choices__inner {
          border-color: $primary;
        }
      }
    }

    &:active {
      .choices__inner {
        border-color: $primary-shade;
      }
    }

    &.is-focused:not(.is-open) {
      .choices__inner {
        background-color: $pink-ligth;
        border-color: $primary;
      }
    }
  }
}

.entry-btn {
  margin-right: $gap;
  &__svg {
    width: 26px;
    height: 28px;
  }

}

.cart-btn {
  padding-left: 11px;

  &__count {
    position: absolute;
    left: 0;
    top: 40%;
    transform: translateY(-50%);
    padding: 2.5px 4.2px 3px 4.3px;
    font-size: 0.625rem;
    line-height: 100%;
    color: $white;
    font-weight: 700;
    background-color: $secondary;
    border-radius: 50%;
  }

  &__svg {
    width: 30px;
    height: 28px;
  }

}

.entry-btn,
.cart-btn {
  position: relative;

  &__svg {
    display: block;
    fill: $primary;
    transition: fill 0.3s linear;
  }

  &::before {
    @include focusPseudo(-3px -4px, $primary-light);
  }

  &:focus-visible {
    &::before {
      opacity: 1
    }

    .entry-btn__svg,
    .cart-btn__svg {
      fill: $white;
    }
  }

  &:hover:not(:focus-visible):not(:active) {
    @media (hover: hover) {

      .entry-btn__svg,
      .cart-btn__svg {
        fill: $primary-light;
      }
    }
  }

  &:active {

    .entry-btn__svg,
    .cart-btn__svg {
      fill: $primary-shade;
    }
  }
}

.burger {
  position: relative;
  width: 24px;
  height: 24px;
  transition: outline 0.3s linear;


  &__line,
  &::before,
  &::after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: $primary;
    border-radius: 4px;
    transition: background-color 0.3s linear;
  }

  &::before,
  &::after {
    content: '';
    transition: transform 0.3s linear, top 0.3s linear;
  }

  &__line {
    top: 50%;
    transform: translateY(-50%);
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  &:focus-visible,
  &:active {

    &::before,
    &::after,
    .burger__line {
      background-color: $primary-shade;
    }
  }

  &:hover:not(:focus-visible):not(:active) {
    @media (hover: hover) {

      &::before,
      &::after,
      .burger__line {
        background-color: $primary-light;
      }
    }
  }
}

.js-main-menu {
  @include sol920 {
    @include hide;
    transform: scaleY(0);
    transform-origin: top;
    transition-property: visibility, opacity, transform;
    transition-duration: 0.3s, 0.3s, 0.5s;
    transition-timing-function: linear;

    &--active {
      @include show;
      transform: scaleY(1);
    }
  }
}

.js-burger {
  &--active {
    z-index: 1001;

    .burger__line {
      opacity: 0;
    }

    &::before {
      top: 50%;
      transform: translateY(-50%) rotate(45deg);
    }

    &::after {
      top: 50%;
      transform: translateY(-50%) rotate(-45deg);
    }
  }
}