@import 'variables';

@mixin show {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

@mixin hide {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

@mixin resetMg {
  margin: 0;
  padding: 0;
}

@mixin container($maxWidth, $padding) {
  max-width: $maxWidth;
  margin: 0 auto;
  padding: 0 $padding;
}

@mixin focusPseudo($inset, $bg) {
  content: '';
  position: absolute;
  inset: $inset;
  z-index: -1;
  background-color: $bg;
  opacity: 0;
  transition: opacity 0.3s linear;
}


@mixin sol1200 {
  @media (max-width: 1200px) {
    @content;
  }
}

@mixin sol992 {
  @media (max-width: 992px) {
    @content;
  }
}

@mixin sol767 {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin sol576 {
  @media (max-width: 576px) {
    @content;
  }
}