$primary: #A65CF0; 
$primary-light: #C998FB;
$primary-shade: #7033AC;
$pink-ligth: #F8EFFF;
$pink-violet: #EBD1FF;
$secondary: #FF862F;
$secondary-light: #FFBD59;
$secondary-shade: #BB370E;
$error-red: #FF6972;
$valid-green: #B8EC64;
$gold: #D5B986;
$white: #ffffff;
$grey-light: #F6F6F6;
$grey-md: #EAEAEA;
$grey: #999999;
$grey-shade: #666666;
$grey-dark: #333333;
$bone: #FFF5D1;
$gap: 32px;
$gap-mobile: 16px;
