.hero {
  &__slide {
    box-sizing: border-box;
    display: flex;
    height: auto;
    min-height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @include sol600 {
      min-height: 300px;
    }

    @include sol500 {
      min-height: 210px;
    }

    &--1 {
      background-position: bottom center;
      background-image: url("@img/main/hero_red-divan_desk.webp");

      @include sol1200 {
        background-image: url("@img/main/hero_red-divan_1024.webp");
      }

      @include sol920 {
        background-image: url("@img/main/hero_red-divan_768.webp");
      }

      @include sol600 {
        background-image: url("@img/main/hero_red-divan_320.webp");
        // background-position: bottom center;
      }
    }

    &--2 {
      background-image: url("@img/main/hero_plant_desk.webp");

      @include sol1200 {
        background-image: url("@img/main/hero_plant_1024.webp");
      }

      @include sol920 {
        background-image: url("@img/main/hero_plant_768.webp");
      }

      @include sol600 {
        background-image: url("@img/main/hero_plant_320.webp");
      }
    }

    &--3 {
      background-image: url("@img/main/hero_textile_desk.webp");

      @include sol1200 {
        background-image: url("@img/main/hero_textile_1024.webp");
      }

      @include sol920 {
        background-image: url("@img/main/hero_textile_768.webp");
      }

      @include sol600 {
        background-image: url("@img/main/hero_textile_320.webp");
      }
    }

    &--4 {
      background-color: $white;
    }
  }

  &__swiper {
    @include sol600 {
      margin-bottom: $gap;
    }

    .swiper-pagination-bullet {
      position: relative;
      display: inline-block;
      height: 20px;
      width: 20px;
      background-color: transparent;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      opacity: 1;
      @include sol600 {
        width: 15px;
        height: 15px;
      }
    }

    .progress-bar {
      width: 20px;
      height: 20px;
      transform: rotate(-90deg);
      @include sol600 {
        width: 15px;
        height: 15px;
      }
    }

    .progress {
      stroke-dasharray: 0 360;
    }
    .swiper-pagination-bullet-active .progress {
      --swiper-delay: 5s;
      z-index: 1;
      animation-name: anim;
      animation-duration: var(--swiper-delay);
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      animation-direction: reverse;
      animation-fill-mode: forwards;
    }
    
    @keyframes anim {
      0% {stroke-dasharray:360 0}
      100% {stroke-dasharray: 0 360}
    }

    &:hover .progress {
      animation-play-state: paused;
    }
  }

  &__mob-btn {
    display: none;

    @include sol600 {
      display: block;
      margin: 0 auto;
      width: min(100%, 296px);
    }
  }
}

.hero-content {
  display: flex;
  flex-direction: column;
  height: auto;
  align-items: flex-start;
  width: 100%;
  padding-top: 80px;
  padding-bottom: 80px;

  @include sol920 {
    padding-bottom: 80px;
    padding-top: 80px;
  }

  @include sol767 {
    padding-bottom: 80px;
    padding-top: 80px;
  }

  @include sol600 {
    padding: 30px;
  }

  &__title {
    @include resetMg;
    margin-bottom: auto;
    max-width: 496px;
    font-weight: 700;
    font-size: 3rem;
    line-height: 135.416667%;
    /* 65px/48 */
    color: $grey;

    &--white {
      max-width: 587px;
      color: $white;
    }

    @include sol600 {
      max-width: 204px;
      font-size: 1.25rem;
    }
  }

  &__btn {
    @include sol600 {

      display: none;
    }
  }
}

.plug {
  align-items: center;
  justify-content: center;

  &__svg {
    flex: 0 0 auto;
    display: block;
    margin-bottom: 30px;
    width: 161px;
    height: 112px;
    opacity: 0.3;

    @include sol600 {
      width: 73px;
      height: 50px;
      // padding-bottom: 0;
    }
  }

  &__text {
    display: inline-block;
    max-width: 276px;
    font-size: 1.5rem;
    line-height: 100%;
    text-align: center;
    color: $grey;

    @include sol600 {
      max-width: 194px;
      font-size: 1rem;
    }
  }
}