.offers {
  padding-top: 70px;

  &__container {
    position: relative;

    @include sol600 {
      padding-bottom: 48px;
    }
  }

  &__title {
    margin-bottom: 26px;

    @include sol600 {
      max-width: 212px;
    }
  }

  &__swiper-nav {
    position: absolute;
    right: 36px;
    top: 0;
    display: flex;
    gap: 13px;

    @include sol920 {
      right: 72px;
    }

    @include sol767 {
      right: 12px;
    }

    @include sol600 {
      top: unset;
      bottom: 0;
      left: 50%;
      align-items: center;
      justify-content: center;
      transform: translateX(-50%);
    }
  }

  &__swiper {
    border-radius: 10px;
  }

  &__slide {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 18.5rem;

    &:nth-child(3n+2) {
      width: max(calc((100% - 37rem - $gap*2)), 18.5rem);
    }
  }
}

.offer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 511px;
  padding: 30px;
  padding-top: 37px;
  height: 100%;
  background-color: $grey-light;
  border-radius: 10px;

  &__discount {
    position: absolute;
    left: 0;
    top: 30px;
    padding: 7.6px 0;
    min-width: 82px;
    max-width: 50%;
    text-align: center;
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 135.714286%;
    /* 19px/14 */
    color: $white;
    background-color: $secondary;
    word-break: break-all;

    &::after {
      content: '';
      position: inherit;
      left: calc(100% - 9px);
      top: 50%;
      width: 18.5px;
      height: 18.5px;
      background-color: $secondary;
      transform: translateY(-50%) rotate(45deg) skew(15deg, 15deg);
    }
  }

  &__picture {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 16px;
    width: 100%;
    min-height: 245px;

    @include sol1200 {
      position: relative;
      margin-bottom: 18px;

      &:has(.offer__img--lg) {
        width: 110%;
      }
    }
    @include sol920 {
      margin-bottom: 16px;
    }
  }

  &__img {
    display: block;

    &--lg {
      @include sol1200 {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        // height: 138px;
        height: 13.5vw;
      }

      @include sol920 {
        // height: 123px;
        height:  18vw;
        top: 58%;
      }
    }
  }

  &__title {
    margin-bottom: auto;
    max-width: 222px;
    font-size: 1.5rem;
    line-height: 130%;
  }

  &__stock-price {
    font-size: 1.125rem;
    line-height: 130%;
    color: $secondary;
  }

  &__grey-price {
    margin: 0;
    font-weight: 400;
    font-size: 1rem;
    line-height: 130%;
    color: $grey-shade;
    @include textBreak;
    text-decoration: line-through;
  }

  &__link {
    outline: none;

    @include sol1200 {
      padding: 17px 34px;
    }
  }
}

.price-wrap {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 23px;
}

.sketch-light-bg,
.sketch-brown-bg {
  background-repeat: no-repeat;
  background-position: bottom 30px right 30px;

}

.sketch-light-bg {
  background-image: url("@img/main/offers_sketch_divan-light.webp");

  @include sol1200 {
    background-image: none;
  }
}

.sketch-brown-bg {
  background-image: url("@img/main/offers_sketch_divan-brown.webp");

  @include sol1200 {
    background-image: none;
  }
}