@import "../variables";
.request {
  --form-width: calc((100% - 32px)/2);
  @include sol1200 {
    --form-width: 42.5%;
  }
  padding-top: 70px;
  padding-bottom: 70px;

  &__container {
    background-image: url("@img/main/rqst_bg_desk.webp");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: var(--form-width) auto;
    @include sol1200 {
      background-size: 54% auto;
    }
  }

  &__title {
    @include resetMg;
    margin-bottom: 9px;
    width: var(--form-width)
  }

  &__descr {
    @include resetMg;
    margin-bottom: 16px;
    width: var(--form-width);
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 135.714286%;
    /* 19px/14 */
    color: $grey-shade;
  }

  &__tooltip {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 14px;
    height: 14px;
    border: 1px solid $secondary;
    border-radius: 50%;
    transition: background-color 0.3s linear;

    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 5px;
      height: 7.7px;
      fill: $secondary;
      transition: fill 0.3s linear;
    }

    &:focus-visible,
    &:hover {
      background-color: $secondary;

      svg {
        fill: $white;
      }
    }
  }

  &__form {
    width: var(--form-width);
  }

}

