.top {
  padding-top: 70px;
  padding-bottom: 70px;

  &__title {
    margin-bottom: 26px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: $gap;
    margin-bottom: $gap;

    @include sol1200 {
      grid-template-columns: repeat(9, 1fr);
    }
    @include sol920 {
      grid-template-columns: repeat(6, 1fr);
    }
    @include sol600 {
      gap: $gap-mobile;
    }
  }

  &__item {
    grid-column: span 3;

    &--inactive {
      position: absolute;
      left: -100vw;
      visibility: hidden;
      opacity: 0;
      transition-property: visibility, opacity;
      transition-duration: 0.4s;
      transition-timing-function: linear;
    }

    &--active {
      position: static;
      visibility: visible;
      opacity: 1;
    }
  }

  // &__card-link {
  //   @include sol600 {

  //     padding: 10px 23px
  //   }
  // }

  &__btn {
    display: block;
    margin: 0 auto;
    padding: 20px 34.8px;

    &--hidden {
        display:none;
    }
    @include sol600 {
      padding: 20px 32px;
      width: min(100%, 296px);
    }
  }
}