.top-categories {
  padding-top: 70px;

  &__title {
    margin-bottom: 26px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: $gap;

    @include sol1200 {
      grid-template-columns: repeat(9, 1fr);
      grid-auto-rows: minmax(511px, 1fr);
    }

    @include sol920 {
      grid-template-columns: repeat(6, 1fr);
    }

    @include sol600 {
      column-gap: $gap-mobile;
      grid-auto-rows: unset;
      grid-template-rows: 1fr repeat(2, minmax(206px, auto));
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    height: auto;

    &:nth-child(1),
    &:nth-child(2) {
      grid-column: span 6;
    }

    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5) {
      grid-column: span 4;
    }

    @include sol1200 {
      &:nth-child(1) {
        //divans
        order: 1;
        grid-column: span 6;
      }

      &:nth-child(2) {
        //armchairs
        order: 4;
        grid-column: span 3;
      }

      &:nth-child(3) {
        //beds
        order: 2;
        grid-column: span 3;
      }

      &:nth-child(4) {
        //dressers
        order: 3;
        grid-column: span 3;
      }

      &:nth-child(5) {
        //chairs
        order: 5;
        grid-column: span 3;
      }
    }

    @include sol920 {
      &:nth-child(1) {
        //divans
        order: 1;
      }

      &:nth-child(2) {
        //armchairs
        order: 3;
      }

      &:nth-child(3) {
        //beds
        order: 2;
      }

      &:nth-child(4) {
        //dressers
        order: 4;
      }

      &:nth-child(5) {
        //chairs
        order: 5;
      }
    }
  }
}

.divans-img {
  @include sol1200 {
    width: max(80%, 515px);
  }
}

.arm-chairs-img {
  @include sol1200 {
    width: max(85%, 260px);
    transform: translateY(5px);
  }
  @include sol600 {
    transform: unset;
  }
}

.beds-img {
  @include sol1200 {
    width: 100%;
    transform: translateY(5px);
  }
  @include sol600 {
    transform: unset;
  }
}

.dressers-img {
  @include sol1200 {
    width: max(85%, 252px);
    transform: translateY(5px);
  }
  @include sol600 {
    transform: unset;
  }
}

.chairs-img {
  @include sol1200 {
    width: max(85%, 264px);
    transform: translateY(5px);
  }
  @include sol600 {
    transform: unset;
  }
}

.category-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px 0;
  height: 100%;
  background-color: $grey-light;
  border-radius: 10px;
  @include sol600 {
    padding: 30px 0 16px;
  }

  &--sm {
    @include sol600 {
      padding: 18px 0 16px;
    }
  }


  &__title {
    @include resetMg;
    margin-bottom: 30px;
    padding: 0 30px;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 120.5%;
    /* 33px/24 */
    color: $grey-dark;
    @include sol600 {
      margin-bottom: 13px;
    }

    &--sm {
      @include sol600 {
        padding: 0 16px;
        margin-bottom: 16px;
        font-size: 1rem;
        line-height: 104%; /* 22px/16 */

      }
    }
  }

  &__picture {
    margin-bottom: 30px;
    width: 100%;
    @include sol600 {
      margin-bottom: 0;
      // margin-top: auto;
    }
  }

  &__img {
    display: block;

    @include sol1200 {
      min-height: 296px;
    }

    @include sol600 {
      width: 100%;
      // min-height: 0;
      // min-height: 104px;
      min-height: 83px;
    }
  }

  &__link {
    transform: translateX(30px);

    @include sol600 {
      display: none;
    }
  }

}



.subcategories {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 14px;
  padding: 0 30px;
  transform: translateY(-2px);
  @include sol600 {
    margin-bottom: 12px;
    transform: translateY(-4px);
  }

  &__item:not(:last-child) {
    margin-right: 30px;
    @include sol600 {
      margin-right: 20px;

    }
  }

  &__link {
    &--sm {
      @include sol600 {
        display: block;
        font-size: 0.625rem;
        line-height: 80%;
      }
    }
  }

  &--sm {
    @include sol600 {
      gap: 6px;
      max-width: 80%;
      padding: 0 16px;
      margin-bottom: 9px;
      transform: translateY(0);
    }
  }
}

.to-category-link-mob {
  display: none;

  @include sol600 {
    display: inline-block;
    height: 22px;
    width: 22px;
    vertical-align: middle;
    transform: translateX(5px);

    svg {
      width: 6px;
      height: 8px;
    }
  }
}