.catalogue-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: $gap;
  padding-bottom: 70px;

  @include sol1200 {
    grid-template-columns: repeat(9, 1fr);
  }
}

.aside-block {
  grid-column: span 3;
  display: flex;
  flex-direction: column;
  padding-bottom: 64px;

  @include sol1200 {
    grid-column: span 9;
    padding-bottom: 0;
  }

  &__banner {
    margin-top: 20px;

    @include sol1200 {
      display: none;
    }
  }
}

.filter {
  margin-bottom: auto;

  @include sol1200 {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: $gap;
    align-items: center;
  }

  @include sol920 {
    grid-template-columns: repeat(6, 1fr);
    row-gap: $gap-mobile;
  }

  &__title {
    @include resetMg;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 130%;
    color: $grey-dark;

    @include sol1200 {
      grid-column: span 1;
      margin-bottom: 0;
      font-size: 0.875rem;
    }

    @include sol920 {
      grid-column: span 6;
      margin-bottom: 0;
    }
  }

  &__title-desk {
    @include sol1200 {
      display: none;
    }
  }

  &__title-mob {
    display: none;

    @include sol1200 {
      display: block;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 29px;

    @include sol1200 {
      grid-column: span 8;
      flex-flow: row wrap;
      gap: $gap;
      flex-grow: 1;
    }

    @include sol920 {
      grid-column: span 4;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      column-gap: $gap;
      row-gap: $gap-mobile;
    }

    @include sol600 {
      grid-column: span 6;
    }

    @include sol500 {
      gap: $gap-mobile;
    }
  }

  &__item {
    @include sol1200 {
      position: relative;
      width: calc((100% - 32px*3)/4);
    }

    @include sol920 {
      width: unset;
      grid-column: span 2;
    }
  }

  &__subtitle {
    @include resetMg;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 1rem;
    line-height: 130%;
    color: $grey-shade;

    @include sol1200 {
      margin: 0;
      font-weight: 400;
    }
  }

  &__subtitle-desk {
    @include sol1200 {
      display: none;
    }
  }

  &__subtitle-mobile {
    font: inherit;
    color: inherit;
    display: none;

    @include sol1200 {
      display: block;
      padding: 7.5px 12px;
      width: 100%;
      text-align: start;
      background-color: $grey-light;
      border-radius: 10px;
      border: 2px solid $grey-light;

      &::after {
        content: '';
        position: absolute;
        z-index: 10;
        top: 48%;
        right: 18px;
        height: 8px;
        width: 8px;
        border: 1px solid $primary;
        border-width: 0 0 1px 1px;
        transform: translateY(-50%) rotate(-45deg);
        transition: transform 0.3s linear, border-color 0.3s linear;

        @include sol500 {
          top: 45%;
        }
      }
    }
  }

  &__group {
    @include sol1200 {
      position: absolute;
      top: 80%;
      left: 0;
      z-index: 1000;
      width: 100%;
      padding: 41px 20px 32px;
      background-color: $white;
      border: 1px solid $grey-md;
      border-radius: 0 0 10px 10px;
    }

    @include sol500 {
      padding: 41px 10px 32px;
    }

    &--check {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__check-wrap {
    width: 100%;
    &:not(:last-child) {
      margin-bottom: 11px;
    }

    &:hover {
      .check__custom {
        border-color: $primary;
        box-shadow: 0px 0px 3px 2px rgba(166, 92, 240, 0.75);
      }

      .filter__check-text {
        color: $primary;

      }
    }
  }

  &__check-text {
    width: 75%;
    font-weight: 400;
    font-size: 1rem;
    line-height: 130%;
    color: $grey-shade;
    transform: translateX(4px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.js-filter-btn {
  @include sol1200 {
    transition-property: background-color, border-color;
    transition-duration: 0.3s;
    transition-timing-function: linear;

    &--active {
      position: relative;
      z-index: 1001;
      background-color: $white;
      border-color: $primary-shade;

      &::after {
        transform: translateY(-50%) rotate(-225deg);
      }
    }
  }
}

.js-filter-group {
  @include sol1200 {
    @include hide;
    transform: scaleY(0);
    transform-origin: top;
    transition-property: transform, opacity, visibility;
    transition-duration: 0.3s;
    transition-timing-function: linear;

    &--active {
      @include show;
      transform: scale(1);
    }
  }
}

.price {
  transform: translateY(-6px);

  &__interval {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    margin-right: auto;
    margin-bottom: 9px;

    @include sol1200 {
      margin-bottom: 0;
    }
  }

  &__label {
    display: flex;
    gap: 8px;
    width: max(calc((100% - 69px)/2), 113px);
    font-weight: 400;
    font-size: 1rem;
    line-height: 130%;
    color: $grey-shade;
  }

  &__field {
    flex-shrink: 0;
    padding: 4px 12px;
    width: min(90%, 86px);
    color: $grey-shade;
    font-size: 1rem;
    border: 1px solid $grey;
    border-radius: 2px;
    outline: none;
  }

  &__bar-wrap {
    height: 3px;
    border-radius: 3px;
    background-color: $grey-md;

    @include sol1200 {
      display: none;
    }

    .noUi-connect {
      background-color: $primary;
    }

    .noUi-handle {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 6.5px 13px 6.5px;
      border-color: transparent transparent $primary transparent;
      background: none;
      right: -6.5px;
      top: 0;
    }

    .noUi-handle::before,
    .noUi-handle::after {
      content: none;
    }

  }
}

.banner-card {
  padding: 226px 30px 32px;
  background-image: url("@img/catalogue/banner_desk.webp");
  background-color: $grey-dark;
  background-repeat: no-repeat;
  background-position: top center;
  border-radius: 10px;

  &__title {
    @include resetMg;
    margin-bottom: 7px;
    font-family: 'PlayfairDisplay';
    font-weight: 900;
    font-size: 1.35rem;
    line-height: 100%;
    /* 32px/24 */
    color: $gold;
  }

  &__descr {
    @include resetMg;
    margin-bottom: 17px;
    max-width: 199px;
    font-size: 0.875rem;
    line-height: 133.333333%;
    /* 32px/24 */
    color: $grey;
  }
}


//стили каталога
.catalogue {
  grid-column: span 9;
  position: relative;
  padding-bottom: 64px;

  &__title {
    margin-bottom: 24px;

    @include sol1200 {
      display: none;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: $gap;

    @include sol1200 {
      row-gap: 30px;
    }

    @include sol920 {
      grid-template-columns: repeat(6, 1fr);
      row-gap: 32px;
    }

    @include sol500 {
      gap: $gap-mobile;
    }
  }

  &__item {
    grid-column: span 3;
    display: none;
  }

  &__pagination {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
  }
}

.card-active {
  display: block;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 16px;

  &__btn {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 1rem;
    line-height: 100%;
    color: $primary;
    border: 2px solid $primary;
    border-radius: 10px;
    outline: none;
    transition: color 0.3s linear, background-color 0.3s linear, border-color 0.3s linear;

    &:focus-visible:not(.current) {
      background-color: $primary-light;
      color: $white;
    }

    &:hover:not(:focus-visible):not(.current):not(:active) {
      @media (hover: hover) {
        background-color: $primary;
        color: $white;
      }
    }

    &:active,
    &.current {
      color: $white;
      background-color: $primary-shade;
      border-color: $primary-shade;
    }
  }
}

.catalogue-mob-title {
  display: none;

  @include sol1200 {
    display: block;
    grid-column: span 9;
    margin-bottom: -16px;
  }

  @include sol920 {
    margin-bottom: -5px;
  }

  @include sol500 {
    margin-bottom: -16px;
  }
}