.product-crumps {
  padding-top: 17px;
  @include sol1200 {
    padding-top: 20px;
  }
}
.product {
  padding-bottom: 82px;
  @include sol1200 {
    padding-bottom: 70px;
  }
  @include sol920 {
    padding-bottom: 31px;
  }

  &__top {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: minmax(245px, auto) min-max(81px, auto);
    gap: $gap;
    row-gap: 16px;
    margin-bottom: 29px;
    @include sol1200 {
      grid-template-columns: repeat(9, 1fr);
      margin-bottom: 32px;
    }
    @include sol920 {
      grid-template-columns: repeat(6,1fr);
      row-gap: 32px;
    }
  }

  &__galery {
    grid-column: span 6;
    max-width: 100%;
    @include sol1200 {
      grid-column: span 5;
    }
    @include sol920 {
      grid-column: span 6;
    }
  }

  &__preview {
    grid-column: span 6;
    grid-row: 2/3;
    max-width: 100%;
    background-color: $grey-light;
    padding: 10px 25px;
    @include sol1200 {
      grid-column: span 5;
      padding: 10px 6px;
    }
    @include sol920 {
      grid-column: span 2;
      padding: 10px 0;
      height: 349px;
    }
  }

  &__name {
    grid-column: span 6;
    grid-row: 1/3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 10px;
    @include sol1200 {
      grid-column: span 4;
      padding-top: 13px;
    }
    @include sol920 {
      grid-column: span 4;
      grid-row: 2/3;
      align-self: center;
      padding-top: 0;

    }
  }

  &__rating {
    margin-bottom: 2px;
  }

  &__title {
    margin-bottom: 5px;
    @include sol1200 {
      margin-bottom: 2px;
    }
  }

  &__descr {
    @include resetMg;
    margin-bottom: 21px;
    font-size: 14px;
    line-height: 100%;
    color: $grey;

  }

  &__price {
    margin-bottom: 21px;
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    color: $grey-dark;
  }

  &__buy-btn {
    padding: 17px 30px;
    margin-bottom: 15px;
  }

  &__add-to-cart {
    position: relative;
    z-index: 1;
    color: $primary;
    transform: translateX(30px);
    transition: color 0.3s linear;

    &::before {
      @include focusPseudo(-2px -4px, $pink-violet);
    }

    &:focus-visible {
      color: $primary-shade;

      &::before {
        opacity: 1
      }
    }

    &:hover:not(:focus-visible):not(:active) {
      @media (hover: hover) {
        color: $primary-light;
      }
    }

    &:active {
      color: $primary-shade;
    }
  }

}

.galery-swiper {
  @include sol1200 {
    max-height: 202px;
  }
  @include sol920 {
    max-height: 245px;
  }
  &__btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    cursor: zoom-in;
  }
}

.preview-swiper {
  @include sol1200 {
    height: 100%;
  }

  &__slide {
    display: flex;
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__picture {
    display: block;
    @include sol920 {
      max-width: 90%;
    }
  }

  &__img {
    min-height: 61px;
    vertical-align: middle;
  }
}

.description {
  display: flex;
  gap: $gap;
  @include sol1200 {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-auto-rows: auto;
  }
  @include sol920 {
    grid-template-columns: repeat(6,1fr);
  }

  &__left,
  &__right {
    flex-basis: calc((100% - $gap)/2);
    height: auto;
  }

  &__right {
    @include sol1200 {
      grid-column: span 4;
    }
    @include sol920 {
      grid-column: span 6;
    }
  }

  &__left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @include sol1200 {
      grid-column: span 5;
    }
  }

  &__title {
    @include resetMg;
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 1rem;
    line-height: 100%;
    color: $grey-dark;
  }

  &__text-wrap {
    margin-bottom: 32px;
  }

  &__text {
    @include resetMg;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 180%;
    color: $grey-dark;

    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  &__sketches {
    margin-top: auto;

  }

}

.sketches {
  display: flex;
  gap: $gap;

  &__picture {
    font-size: 0;
  }
}

.specification {
  &__list {
    width: 87%;
    @include sol1200 {
      width: 100%;
    }
  }
  &__item {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    order: 1;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 178%;
    color: $grey;
    @include sol1200 {
      line-height: 179%;
    }

    &::after {
      content: '';
      flex-grow: 1;
      border-bottom: 1px dashed $grey;
      // margin: 0 5px;
      order: 2;
    }

  }

  &__value {
    order: 3;
    width: 39.705882%; /* 216px/544 */
    color: $grey-dark;
    @include sol1200 {
      width: 53.333333%; /* 216px/405 */
    }
    @include sol920 {
      width: 34.615385%; /* 216px/624 */
    }
  }
}