.similar-goods {
  margin-bottom: 70px;
  
  &__container {
    position: relative;
    @include sol600 {
      padding-bottom: 48px;
    }
  }

  &__title {
    margin-bottom: 24px;
  }

  &__swiper-nav {
    position: absolute;
    top: 0;
    right: 36px;
    display: flex;
    gap: 13px;
    @include sol920 {
      right: 72px;
    }
    @include sol600 {
      top: unset;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      justify-content: center;
    }
  }
  &__swiper-slide {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: auto;
  }

  &__card {
    @include sol1200 {
      padding: 28px 0;
    }
    @include sol600 {
      padding: 16px;
      .rating {
        margin-bottom: 5px;
      }
    }
  }
}